@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*---------------------Colours*/
.bg-header-color{
    background-color: #ffffff;
}
.logo-text-color {
    color: #182D4E;
}

.btn-enquiry-color {
    background-color: #182D4E;
    border-color: #182D4E;
}

.btn-enquiry-color:hover {
    background-color: #424242;
}

/*---------------------Heading*/
header {
    margin: 0;
    padding: 20px 16px 20px 16px;
    
    font-family: "Exo", sans-serif;
}

.logo {
    /*background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    min-height: 50px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    text-decoration: none;
    
    font-weight: 100 bold;
    font-size: 30px;
}
.logo:hover {
   
    text-decoration: none;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}
.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}