@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*---------------------Colours*/

.navbar a
{
        color: #182D4E;
        font-weight: bolder;
}

.navbar a:hover {
        color: #17a2b8;
}

.fa-bars {
   color: #182D4E;
}


/*---------------------Heading*/
header {
    margin: 0;
    font-family: "Exo", sans-serif;
}



.list-inline-item:not(:last-child) {
    margin: 0;
}
.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    
}


/* ----------------------------------------Footer */

footer {
    background-color: #525252; 
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #182D4E;
}

#footer-details {
    padding: 20px;
}
.fa-color {
    color: #8f8f8f;
}
/* ----------------------------------------Special characters */
.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
