@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url("hover-min.css");
/*---------------------Hover*/
.hvr-bounce-to-top:before {
    background-color: rgba(24, 45, 78, 0.24);
    
}


/*---------------------Colours*/

.navbar a {
    color: #182D4E;

}

.navbar a:hover {
    color: rgba(11, 20, 35, 0.57);
}

.fa-bars {
    color: #182D4E;
}

.btn-color {
    color: #182D4E;
    border-radius: 8%;
}
.btn{
    margin-left: 20px;
}

.bg-color,
#active-item {
    background-color: #182D4E;
    color: #ffffff;
}

.footer-bg-color {
    background-color: rgba(24, 45, 78, 0.24);
    border-top: 1px solid rgba(0, 0, 0, .125);
}


.footer-text, .footer-text a {
    text-decoration: none;
    color: #182D4E;
}
.footer-text a:hover {
    
    color: #fff;
}

/*---------------------Heading*/

header {
    margin: 0;
    font-family: "Exo", sans-serif;
}

.navbar a {
    font-weight: bolder;
    text-transform: uppercase;
}


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;

}

/* ----------------------------------------Special characters */

.uppercase {
    text-transform: uppercase;

}


.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: lighter;


}

.general-sub a {
    text-decoration: none;
    color: #ffffff;


}

.inline-block {
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}


/* ----------------------------------------section*/

.feature-card {
    background-color: #182D4E;
    color: #ffffff;

}

.img-container {
    background: url("../images/home-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding-top: 100px;
}

.fa-news-icon {
    color: #182D4E;
    /*margin-left: 5px;*/

}


/* ----------------------------------------Footer */

footer {
    background-color: #182D4E;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    /*#fafafa #8f8f8f*/
    color: #fafafa;
    background: #182D4E;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #8f8f8f;
}

#footer-details {
    padding: 20px;
}

.fa-color {
    color: #ffffff;
}

.general-sub a:hover,
.general-sub i:hover {
    color: #8f8f8f;
}



/*------------------------------meadia*/

@media (min-width: 575.98px) {
    .card-space {

        margin-right: 20px;
    }
}

@media (max-width: 575.98px) {
    .card-space,
    .sm-margin {

        margin-left: 2px;

    }
}

